.alert{ border-radius: 6px!important; border-top-left-radius: 0!important; border-top-right-radius: 0!important; margin-top: -4px;}
.mand{ color: #f00; font-size: 20px;}
h3 span, label span{ font-size: 70%; color: #999999;}
